    html {
        scroll-behavior: smooth;
    }
    
    * {
        box-sizing: border-box;
    }
    
    a {
        color: white;
    }
    
    .container {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-size: cover;
        background-image: url(https://picsum.photos/seed/126/900);
    }
    
    .login-container {
        display: flex;
        justify-content: center;
    }
    
    .login-box-body form input {
        width: 340px;
    }
    
    .btm {
        width: 100px;
    }
    /* Table */
    
    .title-table {
        background-color: cornflowerblue;
        color: white;
        position: sticky;
        top: 0;
    }
    
    .menu_toogle {
        display: none;
    }
    
    @media only screen and (max-width:600px) {
        .menu_toogle {
            display: inline;
            background: rgb(2, 93, 116);
            color: red;
        }
        .login-container {
            flex-direction: column;
        }
    }